* {
    font-family:"Open Sans";
}

body {
    background-color:rgb(242,242,242);
    max-width:1000px;
    margin:auto;
}

header {
    padding: .5rem 3.5rem;
    margin-bottom: 3px;
    background-color: rgb(24,62,115);
    color:white;
}

main {
    padding: .5rem 3.5rem;
    background-color: rgb(255,255,255);
}

.selector {
    background-color: rgb(242,242,242);
    padding: .01rem .75rem;
    margin-bottom: 1rem;
}

.dog-name {
    font-family: "Oswald";
    padding:0;
    margin:0;
}

.dog-tag {
    margin:.4rem .4rem 0 0;
    background-color:#A0DBED;
    padding: .05rem .5rem .05rem .5rem;
    border-radius: 25px;
}